body {
    background-color: #F6F6EF;
}

.main-content {
    background-color: #E5E5D1;
    margin: 5%;
    margin-bottom: 2%;
}

.banner {
    border: 5px solid white;
    margin: 3%;
    margin-top: 1%;
    border-radius: 0.5%;
    background: #F9F9F6;
}

.banner-image {
    width: 99.8%;
}

.banner-text {
    text-align: center;
    padding: 0.7%;
}

h3 {
    text-align: center;
    padding-top: 1%;
    margin: 0px !important;
}

.tagline {
    font-size: 1.7rem;
    text-align: center;
    margin: 0px !important;
    font-style: italic;
}

.content {
    text-align: center;
}

.content-title {
    font-size: 1.7rem;
    font-weight: 500;
}

.heading-title {
    font-size: 1.1rem;
    padding-left: 5%;
    padding-right: 5%;
}

.unorder-content {
    font-size: 1.5rem;
    padding-left: 13%;
    padding-bottom: 3.4%;
}

span {
    font-weight: 600;
}

.quotes-content {
    font-size: 1.7rem;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2rem;
}

.quote-author {
    margin-left: 40%;
    font-size: 1.8rem;
    padding-bottom: 3%;
    font-weight: 500;
}

.dreams {
    font-weight: 550;
    color: inherit;
}

.quote {
    font-size: 1.6rem;
    color: inherit;
}

ul,
li {
    list-style-type: circle !important;
}

.content-link {
    text-align: center;
    padding-bottom: 2%;
    font-size: 1.1rem;
    text-align: center;
}

.content-link a {
    font-weight: 500;
}

.github-link {
    text-align: center;
}